.sidebar {
	position: fixed;
	height: 100vh;
	left: 0;
	width: 5px;
	background: #5c7080;
	border-right: 5.5px solid #5c7080;

	display: flex;
	flex-direction: column;
	align-items: center;

	svg {
		height: 30px;
		// margin: 1vh 0;
		cursor: pointer;
	}

	.sidebar-options {
		margin-top: 5vh;
		display: flex;
		flex-direction: column;
		cursor: pointer;

		span {
			margin: 1vh 0;
		}
	}

	.sidebar-options-bottom {
		bottom: 0;
		margin-top: 6vh;
		display: flex;
		flex-direction: column;
		cursor: pointer;

		span {
			margin: 1vh 0;
		}
	}
}

// fixedCSS
// a {
// 	color: white;

// 	&:hover {
// 		color: white;
// 	}
// }

.ant-layout-sider {
	color: #5c7080;
	position: relative;
	// background: #5c7080;
	transition: all 0.2s;
	align-items: center;
	justify-content: center;
	// box-shadow: 0 11px 110px rgba(238, 13, 13, 0.664);
	box-shadow: 0 2px 4px 4px rgba(33, 33, 33, 0.2);
	background: #5c7080;

	.logo {
		align-self: center !important;
		margin: 0vh 2.3vw;
	}

	.ant-menu {
		// background: linear-gradient(0.25turn, $bosler-800, 50%, $bosler-300);
		background: #5c7080 height 0px;

		//fixedCSS
		// .ant-menu-item-selected {
		//   background: #193955;
		// }
	}

	.anticon svg {
		display: inline-block;
		color: rgb(223, 217, 217);
		font-size: 20px;
	}

	.ant-menu-title-content {
		a {
			color: white;
		}

		.ant-menu-submenu {
			color: white;

			.ant-menu-submenu-arrow {
				color: white;
			}

			.ant-menu-sub {
				color: white;
			}
		}
	}

	.ant-layout-sider-trigger {
		background: #5c7080;
	}
}

.settings-sider {
	color: #5c7080;
	position: relative;
	// background: #5c7080;
	transition: all 0.2s;
	align-items: center;
	justify-content: center;
	// box-shadow: 0 11px 110px rgba(238, 13, 13, 0.664);
	box-shadow: 0 2px 4px 4px rgba(33, 33, 33, 0.2);
	background: linear-gradient(0.25turn, #163149, 50%, #3a6387);

	.logo {
		align-self: center !important;
		margin: 2vh 2.3vw;
	}

	.ant-menu {
		background: #ffffff;
		height: 0px;

		// fixedCSS
		// .ant-menu-item-selected {
		//   background: #e2e3e4;
		// }
	}

	.ant-menu-title-content {
		a {
			color: #5dacbd;
		}

		.ant-menu-submenu {
			color: #5c7080;

			.ant-menu-submenu-arrow {
				color: #5c7080;
			}

			.ant-menu-sub {
				color: #5c7080;
			}
		}
	}

	.ant-layout-sider-trigger {
		background: #5c7080;
	}


}

.setting-popover {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 4px 0px;

	div {
		cursor: pointer;
		border-radius: 5px;
		padding: 0.5rem 1rem;

		&:hover {
			background-color: #d1d9e0;
		}

	}


}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(128, 128, 128, 0.374);
	border-radius: 10px;
}

.ant-descriptions-item-content,
.ant-descriptions-item-label {
	color: black !important;
}

//Whole page spinner
div>.ant-spin-spinning {
	position: absolute;
	display: inline-block;
	opacity: 1;
	left: 50vw;
	right: 50vw;
	top: 50vh;
	bottom: 50vh;
}

//Center to a div of particular width
p>.ant-spin-spinning {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}